body {
  padding-top: 40px;
  padding-bottom: 40px;
  color: #7f8892;
  background: #fff url('sauce-logo.png') no-repeat scroll 10px 10px;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin-heading {
  color: #1395f0;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input {
  margin-bottom: 10px;
}
.form-signin input[type="email"] {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.checkbox-label {
  text-transform: uppercase;
}
.btn-primary {
  background-color: #1395f0;
  background-image: none;
  border-color: #f2f2f2;
  border-radius: 4px;
}
.btn-primary:hover {
  background-color: #0c7ac4;
  background-image: none;
  border-color: #f2f2f2;
}
